<div class="container">
  <h1>Let's take a look!</h1>
  <div class="row">
    <div class="input-group mb-3">
      <span for="name" class="col-md-12 input-group-text" id="basic-addon1">Investing Amount: </span>
      <input id="amount" type="text" class="col-md-12 form-control me-5" placeholder="500000">

      <span for="name" class="col-md-12 input-group-text" id="basic-addon1">Months: </span>
      <input id="months" type="text" class="col-md-12 form-control me-5" placeholder="5">

      <span for="name" class="col-md-12 input-group-text" id="basic-addon1">ROI/Month: </span>
      <input id="roi" type="text" class="col-md-12 form-control me-5" placeholder="5%">

      <span for="name" class="col-md-12 input-group-text" id="basic-addon1">Transactions/Month: </span>
      <input id="transaction_month" type="text" class="col-md-12 form-control me-5" placeholder="2">
    </div>
  </div>
  <div class="col-12">
    <button id="submit" type="submit" class="btn btn-primary">Calculate</button>
    <button id="clear" type="submit" class="btn btn-primary">Clear</button>
  </div>

  <p>Invested Amount is <span id="outputamount">____</span>. for <span id="outputmonth">____</span>. at <span id="outputroi">____</span>. </p>
</div>

    <script>
    var submit = document.getElementById("submit");
    var capitalize = document.getElementById("capitalize");
    var clear = document.getElementById("clear");

    submit.onclick = function(){
    	var amount = document.getElementById("amount").value;
      var months = document.getElementById("months").value;
      var roi = document.getElementById("roi").value;
      var transactions_month = document.getElementById("transaction_month").value;

      document.getElementById("outputamount").innerText = amount;
      document.getElementById("outputmonth").innerText = months;
      document.getElementById("outputroi").innerText = roi;
      // document.getElementById("outputtransaction_month").innerText = transactions_month;

      var pa = parseInt(amount);
      var month = months;
      var interest = parseInt(roi);
      var transaction = parseInt(transactions_month);
      var transaction_count = 0;
      document.write('Total Invested Amount : ' + pa +'<br/><br/><br/>');
        for (var i = 1; i <= months; i++) {

          document.write('<strong>'+ i + ' Month<br/>' + '----------------------------------------------------</strong>' + '<br/>');
          for (var j = 0; j < transaction; j++) {
            var single_roi = pa/100*interest;
            var total_amt =  single_roi + pa;
            document.write("Week " + transaction_count + "-->  " + total_amt.toFixed(2) +" (" + single_roi.toFixed(2) + ')<br/>');
            transaction_count++;
            pa = total_amt;
          }
          document.write('---------------------------------------------------- <br/>');
        }
    }

    clear.onclick = function(){
    	document.getElementById("amount").value = "";
      document.getElementById("months").value = "";
    }
  </script>
