<div class="container">
  <h1>Let's take a look!</h1>
  <div class="row">
    <div class="input-group mb-3">
      <span for="name" class="input-group-text" id="basic-addon1">Investing Amount: </span>
      <input id="amount" type="text" class="form-control me-5" placeholder="500000">

      <span for="name" class="input-group-text" id="basic-addon1">Months: </span>
      <input id="months" type="text" class="form-control me-5" placeholder="5">

      <span for="name" class="input-group-text" id="basic-addon1">ROI/Month: </span>
      <input id="roi" type="text" class="form-control me-5" placeholder="5%">
    </div>
  </div>
  <div class="col-12">
    <button id="submit" type="submit" class="btn btn-primary">Calculate</button>
    <button id="clear" type="submit" class="btn btn-primary">Clear</button>
  </div>

  <p>Invested Amount is <span id="outputamount">____</span>. for <span id="outputmonth">____</span>. at <span id="outputroi">____</span>. </p>
</div>
